.category {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 1%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.category-button {
    margin: 1%;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: rgba(179, 237, 208, 0.4);
    height: 40px;
    color: grey;
    padding: 2px;
}

.category-button:hover {
    border: 1px solid grey;
    background-color: rgba(179, 237, 208, 1);
    color: black;
    padding: 4px;
}

.divider {
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgba(179, 237, 208, 0.4);
    border: ridge 2px rgba(179, 237, 208, 0.4);
    border-radius: 15px;
}

.main-section {
    width: 100%;
}


.back-button-div {
    width: 0%;
    margin-left: -20%;
    display: inline-flexbox;
    float: left;
}

.back-button {
    background-color: rgb(49, 113, 93);
    color: white;
    border: 1px solid rgb(42, 97, 79);
    border-radius: 20%;
}

.back-button:hover {
    background-color: rgb(42, 97, 79);
    border: 1px solid rgb(38, 88, 71);
}