.arrowIcon {
    float: right;
}

.arrowIcon:hover {
    color: black;
}

.collapsed {
    display: flex;
    align-items: center;
}

.side-nav {
    transition: width 0.3s ease-in-out;
    width: 15vw;
    height: 100vh;
    background-color: rgb(49, 113, 93);
    padding-top: 28px;
    float: left;
}

.side-navClosed {
    /* composes: side-nav; */
    transition: width 0.3s ease-in-out;
    width: 5vw;
    height: 100vh;
    background-color: rgb(49, 113, 93);
    padding-top: 28px;
    float: left;
}

.side-item,
.side-itemClosed {
    transition: padding 0.3s ease-in-out;
    width: 100%;
    display: flex;
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.side-itemClosed {
    padding-left: 1vw;
    float: left;
}

.linkText {
    float: left;
    width: 100%;
}

.linkTextClosed {
    /* composes: linkText; */
    visibility: hidden;
}

.side-item:hover,
.side-itemClosed:hover {
    background-color: #244f7d1c;
    color: black;
}

.menuBtnDiv {
    width: 100%;
    display: flex;
    float: left;
}

.menuBtnDiv:hover {
    background-color: #244f7d1c;
    color: black;
}

.menuBtn {
    align-self: right;
    align-self: flex-start;
    justify-self: flex-end;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
}