.recipe-page {
    margin-left: 20%;
    margin-right: 20%;
}

.recipe-thumbnail {
    border: 2px solid grey;
    border-radius: 8px;
    margin-left: 2%;
    background-color: whitesmoke;
    box-shadow: 1px 1px;
    width: 30%;
}

.thumbnail-image {
    margin-top: 2%;
    margin-bottom: 4%;
    max-width: 80%;
    max-height: 80%;
    border-radius: 8px;
}

p.timing {
    margin: 2px;
}

.timings-section {
    width: 100%;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    padding-top: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.timings-section-div {
    width: 50%;
    margin: 0 auto;
}

.section-separator {
    border-bottom: 1px dashed black;
    margin: 5%;
}